.commentFrame {
  /* position: absolute; */
  width: 472px;
  height: 104px;
  border: 1px solid #000000cc;
  border-radius: 10px;
  overflow: hidden;
}

.commentTopFrame {
  width: 472px;
  height: 28px;
  border: 1px solid #000000cc;
  background-color: #25855a;
}

.commentContent {
  width: 50%;
  height: 19px;
  color: #f0fff4;
}
